<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if form.instance.pk %}Editar Estudiante{% else %}Agregar Estudiante{% endif %}</title>
</head>
<body>
    <h1>{% if form.instance.pk %}Editar Estudiante{% else %}Agregar Estudiante{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% if form.instance.pk %}Guardar Cambios{% else %}Agregar Estudiante{% endif %}">
    </form>
</body>
</html>